*
!pyproject.toml
!README.md
!LICENSE
!NOTICES.md
!CHANGELOG.md
!src/
!src/**
!data/
!data/fixtures/
!data/fixtures/**
!data/applicability/
!data/applicability/**
!data/recommended_corpus.json
!data/source_coverage.json
!data/public_fixture_manifest.json
**/__pycache__/
**/*.pyc
**/*.db
**/*.sqlite3
